/* Responsiveness */
@media (max-width: 1050px) {
    .sections {
        padding: 2rem !important;
    }

    .h1 {
        font-size: 7.5rem;
    }

    .h2 {
        font-size: 5rem;
    }

    .responsive-desktop {
        display: none !important;
    }
}

@media (max-width: 835px) {

    .sections,
    .hero {
        grid-template-columns: 1fr !important;
    }

    .philosophy-inner p {
        font-size: 3rem;
    }


}


@media (max-width: 768px) {
    .hero {
        padding: 1.5rem;
    }

    .h1 {
        font-size: 6.5rem;
    }

    .nav-logo img {
        height: 30px !important;
    }

    .text-md-center {
        justify-self: start;
        text-align: start;
    }

    .content-center-md {
        text-align: start;
    }

    .hero-btns {
        justify-content: start;
    }
}

@media (max-width: 475px) {
    .h1 {
        font-size: 5.5rem;
    }

    .h2 {
        font-size: 4rem;
    }

    .h3 {
        font-size: 1.7rem;
    }

    .philosophy-inner p {
        font-size: 1.7rem;
    }

    .sec-sub {
        max-width: 400px;
    }

    .responsive-ipad {
        display: none !important;
    }

    .responsive-mobil {
        display: block !important;
    }

    .hero-card-2 {
        display: none !important;
    }

    .sections {
        width: 100%;
    }

    .hero-visual {
        max-width: 100%;
    }

    .cform {
        padding: 1rem !important;
    }

    .team-row {
        flex-direction: column;
    }

    .hero-stat-row {
        grid-template-columns: 1fr !important;
    }

    .nav-items {
        justify-content: start !important;
    }

    .nav-items-col:first-child {
        padding-top: 15px;
    }
}